@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.root {
	font-family: 'Roboto Mono';
	background-color: #212124;
    height: 100%;
    width: 100%;
    position: absolute;
	top: 0;
	left: 0;
}

.header {
    padding: 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: #d8d9da;
	padding: 5px 20px 5px 20px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	font-size: 14px;
	z-index: 100;
}

.header-item {
	flex-basis: 20%;
}

.title {
	flex-basis: 58%;
	text-align: center;
}

.login {
	flex-basis: 22%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.search-panel {
	top: 30px;
	padding: 10px 20px 20px 20px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #212124;
}

.search {
    border: none;
    border-bottom: 1px solid #d8d9da;
	color: #d8d9da;
	font-family: 'Roboto Mono';
	font-size: 14px;
	width: 95%;
	padding: 5px 0px 7px 35px;
	background: url('../icons/search.png') no-repeat 0px 0px #212124;
	background-size: 30px 30px;
	outline: none;
}

.search-attributes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.attribute-group {
    padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	color: #d8d9da;
}

.half {
	flex-basis: 50%;
}

.large {
	flex-basis: 66%;
}

.attribute-subgroup {
	padding: 0px 0px 0px 0px;
}

.attribute-group  h1{
	color: #d8d9da;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.attribute {
	font-family: 'Roboto Mono';
	color: #d8d9da;
	font-size: 10px;
	padding: 10px 10px 10px 0px;
}

.attribute-line {
	display:flex; 
	flex-direction: column;
}

.line {
	font-family: 'Roboto Mono';
	color: #d8d9da;
	font-size: 10px;
	background-color: #212124;
	width: 100%;
    border: none;
    border-bottom: 1px solid #d8d9da;
	padding: 3px 3px 3px 0px;
	outline: none;
	pointer-events: auto;
}

.checkbox {
	position:relative;
    padding: 0px 25px;
  	font-family: 'Roboto Mono';
	color: #d8d9da;
	font-size: 10px;
}

.checkbox-group {
	padding: 7px 25px;
}

.inactive {
	pointer-events: none;
}

.checkbox input[type=checkbox] {
	display:none;
}

.checkbox label:after {
	content:'';
	display:block;
	height:14px;
	width:14px;
	outline: 1px solid #d8d9da;
	position:absolute;
	top:0;
	left:0;
    margin: 5px 0px;
}
.checkbox input[type=checkbox]:checked + label:after {
	outline:1px solid #d8d9da;
	border:2px solid #212124;
	width:10px;
	height:10px;
	background-color:#d8d9da;
}

.button {
	border: none;
	background-color: #212124;
	display: inline-block;
	font-family: 'Roboto Mono';
	color: #d8d9da;
	font-size: 10px;
	padding: 4px 8px 4px 4px;
    outline: none;
	pointer-events: auto;
}

.button:checked, .button:hover, .button:focus, .button:active {
	background-color: #d8d9da;
	color: #212124;
	outline: none;
}

.mybutton {
	border: none;
	color: #d8d9da;
	font-family: 'Roboto Mono';
	font-size: 10px;
    text-align: center;
	text-decoration: underline;
	background-color: #212124;
	outline: none;
}

.mybutton:hover {
	background-color: #d8d9da;
	color: #212124;
}

.login-button {
    text-align: center;
	border: none;
	color: #d8d9da;
	font-family: 'Roboto Mono';
	font-size: 14px; 
	background-color: black;
	text-decoration: underline;
	outline: none;
}

.login-button:hover {
    text-align: center;
	border: none;
	color: black;
	font-family: 'Roboto Mono';
	font-size: 14px; 
	background-color: #d8d9da;
	text-decoration: underline;
	outline: none;
}

.content {
	position: relative;
	top: 40px;
	font-family: 'Roboto Mono';
	color: #d8d9da;
	font-size: 10px;
	background-color: #212124;
}

.content h1{
	color: #d8d9da;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.result-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 15px 20px 15px 20px;
	flex-wrap: wrap;
	border: none;
    border-bottom: 1px solid #d8d9da;
}

.video {
    height: 200px;
    width: 300px;
}

.graph {
    height: 200px;
    width: 400px;
	flex-basis: 50%;
}

.info {
	flex-basis: 20%;
}





